
* {
    margin: 0;
}
.hoisting {
    background-color: #0f131e;
    background-image: url("../images/full-bg.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-position: 0 0;
    background-attachment: scroll;
    position: fixed;
    width: 100%;
    height: 1000px;
    z-index: -1;

}
#container {
    width: 100%;
}

#navigator {
    padding-top: 80px;
    margin: 0 auto;
    justify-content: space-around;
    text-align: justify;
    color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#navigator>nav>ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#navigator>nav>ul>li {
    /*float: left;*/
    padding-left: 25px;
    padding-right: 25px;
    list-style-type: none;
    height: 30px;
    /*display: flex;*/
    border-bottom: 3px solid transparent;
    transition: border-bottom 200ms ease;
    letter-spacing: 1px;
    /*overflow: hidden;*/
}

#navigator>nav>ul>li:hover {
    border-bottom: 3px solid aliceblue;
    /*transition: box-shadow 200ms ease;*/
}

#navigator>nav>ul>li a {
    position: relative;
    top: -55px;
}
#navigator>nav>ul>#searchItem {
    display: inline-block;
    width: 40px;
}

#navigator>nav>ul>#searchItem:hover {
    border-bottom: None;
}
/*#navigator>nav>ul:nth-child(5) {*/
/*    width: 20px;*/
/*    list-style-type: none;*/
/*}*/

#searchLogo {
    width: 20px;
    height: 20px;
}

#introduction {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 0 150px;
}

#astronaut {
    width: 730px;
    height: 320px;
    position: absolute;
    left: 500px;
    top: 220px;
    background-repeat: no-repeat;
    background-image: url("../images/astronaut-floating.png");
    background-size: contain;
    text-align: center;
}

#astronaut p {
    font-size: 12px;
    line-height: 320px;
    color: white;
    position: relative;
    left: -25px;
}

#intro-text {
    width: 500px;
    position: absolute;
    left: 150px;
    top: 500px;
    color: rgb(202,198,167);
}

a:link {
    line-height: 100px;
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    /*text-decoration: underline;*/
}

a:active {}

a:visited {}

h2 {
    color: aliceblue;
}

#development {
    height: 1200px;
    color: aliceblue;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-content: end;
    background-image: url("../images/space-starts.jpeg");
    background-size: cover;
}
#dev-top {
    width: 300px;
    margin: 100px auto;
}
#development table {
    width: 300px;
    height: 70px;
    border-width: 2px; /* 边框宽度为2px */
    border-style: solid; /* 边框样式为实线 */
    border-color: #333; /* 边框颜色为深灰色 */
    border-collapse: collapse;
    text-align: center;
}
#development table td, #development table th {
    border: 1px solid #333;
}
.rotate90 {
    transform: rotate(-90deg);
    color: red;
    text-align: center;
}
#dev-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dev-col {
    position: relative;
}

.year {
    font-size: 100px;
}
.milestone{
    font-size: 16px;
    font-weight: bold;
}
.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 340px;
    background-size: 300px 340px;
    background-repeat: no-repeat;
    position: absolute;
}
#event1950 {
    background-image: url("../images/Milestraveled-ellipse.png");
    left: -100px;

}
#event2020 {
    background-image: url("../images/returned-to-earth-ellipse.png");
    left: -200px;
    top: 300px;
}
#event1970 {
    background-image: url("../images/around-the-sun.png");
    top: 150px;
}
#event2000 {
    background-image: url("../images/Orbits-on-mars-ellipse.png");
    top: 550px;
    left: 10px;
}
#event1990 {
    background-image: url("../images/Average-speed-ellipse.png");
    top: 290px;
    left: 100px;
}
#event1950>.milestone {
    color: rgb(104,87,85);
}
#event2020>.milestone {
    color: rgb(86,58,69);
}
#event1970>.milestone {
    color: rgb(47,66,76);
}
#event2000>.milestone {
    color: rgb(25,53,90);
}
#event1990>.milestone {
    color: rgb(85,25,44);
}
footer {
    color: white;
    background-color: rgb(38,42,81);
}

#footer-container {
    width: 1000px;
    margin: 0 auto;
}
#footer-top {
    display: flex;
    justify-content: center;
    align-content: stretch;
}
/*#footer-top>table{*/
/*    border-spacing: 100px 20px;*/
/*}*/
/*
包含spacing
*/
#footer-top>table {
    padding-top: 50px;
    font-size: 14px;
    text-align: left;
}

#footer-top>table tr,
#footer-top>table td
{
    height: 45px;
}
#footer-top>table td {
    width: 250px;
    vertical-align: top;
    padding: 0;
}
#footer-top>table td a{
    display: block;
    height: 100%;
    line-height: 45px;
}
#copyright {
    width: 500px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 160px; /*容器计算高度时包括padding*/
    text-align: center;
    font-size: 15px;
}
#contact-us {
    padding-top: 0;
    margin: 0 0;
    font-size: 25px;
}
#contact-us form{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#contact-us [type="email"]{
    border-radius: 12px;
    vertical-align: center;
    height: 40px;
    width: 200px;
    font-size: 16px;
    margin-right: 10px;
    resize: none;
    line-height: 40px;
}
#contact-us button{
    border-radius: 12px;
    vertical-align: center;
    height: 44px;
    width: 60px;
    background-color: rgb(51, 110, 177);
    color: white;
    border: 1px solid black;
}

